@import "../../../../../App";

.color-block {
  padding: 12px;

  p {
    @include bodySmall;
    font-size: 14px;
    position: absolute;
    top: -24px;
    left: -3px;
    white-space: nowrap;
    padding: 0 4px;
    max-width: 150px;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__label-wrapper {

  }
}
