@import "../../../../../App.scss";

.object-detection-table {
  max-height: 800px;
  overflow-y: auto;
  padding: 0 16px;
  position: relative;
  z-index: 1;

  @include mobileWidth-lg {
    padding-left: 0;
    padding-right: 0;
  }

  @include tabletWidth {
    max-height: 100%;
  }

  &__header-row {
    display: flex;
    grid-template-columns: 2fr 5fr 1fr;
    gap: 12px;
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 8px;
    border-bottom: 2px solid $smokeDarkest;
    margin-bottom: 24px;
    width: 100%;
    z-index: 10;

    &-item {
      @include labelSmall;
      color: $charcoalLightest;

      @include mobileWidth-lg {
        font-size: 12px;
      }

      &-total {
        margin-left: 8px;
        @include maxWidth(1185px) {
          display: none;
        }
      }
    }
  }

  &__row {
    display: flex;
    grid-template-columns: 2fr 5fr 1fr;
    gap: 12px;

    width: 100%;
    justify-content: space-between;
    border-bottom: 1px dashed $smokeDarkest;
    padding-bottom: 6px;
    padding-top: 6px;
    align-items: baseline;
    cursor: pointer;

    &:hover {
      background-color: $smoke;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: $charcoalLightest;
    }

    &-left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
    }

    &-middle {
      display: flex;
      align-items: baseline;
      overflow-wrap: anywhere;
      width: 60%;
    }

    &-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 20%;
      padding-right: 4px;
    }

    &-input {
      width: 14px;
      height: 14px;
      margin-right: 16px;
      border: 2px solid;
      transition: 0.25s;

      &-hidden {
        display: none;
      }


      &-label {
        @include body;
        text-transform: capitalize;
        max-width: 80%;

        @include mobileWidth-lg {
          @include bodySmall;
        }
      }
    }

    &-percentage {
      @include body;
      @include mobileWidth-lg {
        @include bodySmall;
      }
    }
  }
}
