@import "../../../../../App.scss";

.object-detection-image {
  display: flex;
  flex-direction: column;
  flex: 2 1;

  &__input-label {
    @include labelSmall;
    color: $charcoalLightest;
  }

  &__overlay {
    overflow: hidden;
    position: relative;
    width: fit-content;
  }

  &__wrapper {
    border: 1px solid $smokeDarkest;
    display: flex;
    justify-content: center;
    padding: 8px;

    @include maxWidth($width-mobile-large) {
      margin: 0 16px;
    }
  }

  &__input-wrapper {
    background-color: $smoke;
    padding: 12px;
    margin-top: 12px;
  }

  &__input-container {
    display: flex;
    align-items: center;
    margin-top: 0;
  }

  &__input-range {
    height: 3px;
    width: 100%;
    border-color: $gray;

    &:focus {
      border-color: $gray;
    }

    accent-color: $charcoalLightest;

    &::-moz-range-progress {
      background: $charcoalLightest;
    }

    &::-webkit-progress-value {
      background: $charcoalLightest;
    }
  }

  &__input-number {
    @include body;
    border: 2px solid $smokeDark;
    padding-left: 12px;
    margin-left: 10px;
    margin-right: 4px;
    width: 52px;

    -moz-appearance: textfield;
    appearance: textfield;
    -webkit-appearance: textfield;

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &-container {
      display: flex;
      align-items: center;
    }
  }
}
