@import "../../../../../App.scss";

.object-detection {
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  padding: 32px;
  @include maxWidth(1000px) {
    margin-left: 0px;
    margin-right: 0px;


  }
  @include mobileWidth-lg {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0;
    padding-right: 0;
  }

  &__header {
    width: 100%;
    border-bottom: 1px solid $smokeDarkest;
    padding-bottom: 16px;
    margin-bottom: 24px;

    @include mobileWidth-lg {
      padding-left: 16px;
    }

    &-heading {
      @include headline3;
    }

    &-subheading {
      color: $charcoalLightest;
      @include body;
    }
  }

  &__top-row {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
    max-height: 100vh;

    @include maxWidth(1500px) {
      grid-template-columns: 1fr;
      max-height: 100%;
    }
  }

  &__bottom-row {
    margin-top: 54px;

    &-btn {
      @include secondaryButtonWithIconBefore("arrow-right.svg");
      max-width: 270px;
    }

    @include mobileWidth-lg {
      display: flex;
      justify-content: center;
    }
  }
}
