@import "src/App";

.sample-inputs {
  &__title {
    @include body;
    margin-bottom: 24px;
  }

  &__list {
    display: flex;

    @include tabletWidth {
      flex-direction: column;
      align-items: center;
    }
  }

  &__input-image {
    line-height: 0;
    width: 100%;
    max-width: 240px;

    & > img {
      border: 6px solid transparent;
      width: 100%;
    }

    &:not(:first-child) {
      margin-left: 4px;
    }

    &--selected {
      & > img {
        border-color: $azul;
        box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    &--unselected {
      opacity: 0.5;
    }
  }

  &__input-text {
    border: 1px solid $gray;
    flex: 1 1;
    padding: 4px 8px;
    text-align: start;

    &:not(:first-child) {
      margin-left: 4px;
    }

    &--selected {
      border-color: $azul;
      box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &--unselected {
      opacity: 0.5;
    }
  }
}
