.Hero{
  /*background: "linear-gradient(180deg, rgba(25,38,58,1) 60%, rgba(255,255,255,0.8) 80%)",*/
  background-color: var(--primaryColor);
  min-height: 60vh;
  width: 100%;
  color: white;
  font-weight: 200;
  padding-top: 100px;
  padding-bottom: 3rem;
  text-align: center;
}

.hero_button {
  display: block;
  color: white;
  text-align: center;
  background-color:rgb(39, 57, 87);
  marginLeft: 10px;
  padding: 14px;
  font-weight: bold;
  font-size: 1.5rem;
}

.hero_button:hover {
  background-color: rgb(59, 77, 107);
  color:white;
}
