$primaryGradient: linear-gradient(to bottom, rgba(125,49,226,1) 0%, rgba(73,76,234,1) 10%, rgba(30,99,242,1) 50%, rgba(73,76,234,1) 90%, rgba(125,49,226,1) 100%);

@mixin fitToContent {
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

@mixin primaryButton {
  @include headline5;
  @include fitToContent;
  background: rgb(125,49,226);
  background: $primaryGradient;
  background-size: 200% 200%;
  border: none;
  border-radius: 26px;
  color: $white;
  padding: 10px 24px;
  text-decoration: none;
}

@mixin primaryButtonSmall {
  @include primaryButton;
  @include headline6;
  @include fitToContent;
}

@mixin secondaryButton {
  @include headline5;
  @include fitToContent;

  background: $white;
  background-clip: padding-box;
  box-sizing: border-box;
  $borderSize: 2px;
  border: solid $borderSize transparent;
  border-radius: 26px;
  color: $azul;
  padding: 8px 22px;
  position: relative;
  text-decoration: none;
  transition: background 1s;

  &:before {
    background: $primaryGradient;
    border-radius: inherit;
    content: '';
    margin: -$borderSize;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
  }
}
