@import "../../App";

.home-page-section {
  margin-top: 160px;

  &__title {
    @include billboardSmall;
    color: $richNavy;
    text-align: center;
  }

  &__subtitle {
    margin-top: 16px;
    @include body;
    color: $charcoalLightest;
    text-align: center;
  }
}
