@import "../../App";

.home-page-task-controls {
  $selectBreak: 1300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;

  &__task-header {
    @include label;
    color: $richNavy;

    margin-bottom: 12px;
  }

  &__btn-area {
    display: flex;
    align-items: center;

    @include maxWidth($selectBreak) {
      display: none;
      margin-top: 4px;
      padding: 12px;
      border: 2px solid $azul;
      border-radius: 8px;
      flex-direction: column;
      align-items: flex-start;
    }

    &-shown {
      display: flex;


    }
  }

  &__toggle-btn {
    display: none;
    transition: 0.25s;
    @include headline6;
    color: $azul;
    position: relative;


    @include maxWidth($selectBreak) {
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: 20px;
      border: 2px solid $azul;
      padding: 8px 16px;
    }

    &:after {
      background-image: url("../../resources/icons/chevron-down-azul.svg");
      background-repeat: no-repeat;
      content: " ";
      position: absolute;
      top: 16px;
      right: 12px;
      height: 16px;
      width: 16px;
      transition: 0.50s;
    }

    &-active {
      &:after {
        transform: rotate(180deg);
        top: 8px;
      }
    }

    &-active, &:hover {
      background-color: $azul;
      color: $white;

      svg path {
        fill: $white;
      }

      &:after {
        background-image: url("../../resources/icons/chevron-down-white.svg");
      }
    }

    &-icon {
      margin-right: 8px;
      width: 24px;
      height: 24px;
    }
  }

  &__task-btn {
    @include headline6;
    color: $azul;
    border: 2px solid $azul;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    margin-right: 8px;
    transition: 0.25s;

    @include maxWidth($selectBreak) {
      margin-top: 12px;
      justify-content: flex-start;
      width: fit-content;
      border-radius: 4px;
      border: none;
    }


    &-selected, &:hover {
      background-color: $azul;
      color: $white;

      svg path {
        fill: $white;
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
}
