@import "../../../App";

.classification-summary {
  border: 1px solid $smokeDarker;
  padding: 24px 16px;

  @include mobileWidth-lg {
    padding: 16px 8px;
  }

  &__header {
    @include labelSmall;
    color: $charcoalLightest;

    &-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 24px;
      align-items: center;
    }
  }

  &__top-result {
    @include headline3;
    background: rgba($azul, 0.03);
    display: flex;
    color: $charcoalLightest;
    justify-content: space-between;
    padding: 8px 16px;
    text-transform: capitalize;
  }

  .prediction-expander {
    &__predictions {
      max-height: 18000000px;
    }

    &__prediction-overflow {
      max-height: 100%;
    }
  }

  .prediction-expander__predictions {
  }

}
