.object-detection-summary {

  &__header {
    @include labelSmall;
    color: $charcoalLightest;
    margin-bottom: 16px;
    border-top: 1px solid $smokeDarker;
    padding-top: 16px;
  }

  &__results {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    @include tabletWidth {
      grid-template-columns: 1fr;
    }
  }
}
