@import "../../../../../App";

.image-enhancement {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 32px;
  @include desktopWidth {
    grid-template-columns: 1fr;
    gap: 32px;

  }

  .input-preview {
    height: 320px;
  }
}
