.filter-panel {
  background-color: $smokeDark;
  padding: 16px;
  color: black;
  margin-top: 12px;

  &__header {
    font-size: $smallText;
    font-weight: bold;
    text-transform: uppercase;
  }
}
