.filter-group {
  margin-bottom: 36px;

  &__header {
    @include headline3;
    color: $charcoalLightest;
    margin-bottom: 4px;
  }

  &__description {
    @include bodySmall;
    color: $charcoalLightest;
  }

  &__button-active,
  &__button-inactive {
    @include headline6;
    border: solid 1px $azul;
    border-radius: 23px;
    padding: 4px 8px;
    margin: 4px;
  }

  &__button-active{
    background: $azul;
    color: white;
  }

  &__button-inactive{
    background: white;
    color: $azul;
  }
}
