.model-list-page {

  &__content {
    @include gutters;
    display: grid;
    grid-template-areas:
      "blank sort"
      "control-panel list";
    grid-template-columns: 300px 1fr;
    grid-column-gap: 64px;
    margin-top: 64px;
    padding-bottom: 64px;
  }

  &__sort-container {
    display: flex;
    grid-area: sort;
    justify-content: flex-end;
    margin-bottom: 16px;
  }

  &__filters-search-container {
    grid-area: control-panel;
  }

  &__search-bar {
    margin-bottom: 36px;
  }

  &__list {
    grid-area: list;
  }
}
