.model-card {
  background: $white;
  border: 3px solid black;
  padding: 12px;
  margin: 12px;
  overflow-wrap: anywhere;
  width: 600px;

  &__tags-box {
    display: flex;
    margin-bottom: 8px;
  }

  &__tag-label {
    @include bodySmall;
    font-weight: bold;
    margin-bottom: 0px;
    margin-right: 2px;
    margin-top: 0px;
  }

  &__tag {
    @include bodySmall;
    background: none;
    border: none;
    color: $skyBlue;
    margin-right: 16px;
    text-decoration: underline;
  }

  &__model-name {
    @include linkHeadline3;
  }

  &__model-description {
    @include bodySmall;
  }

  &__actions-box {
    display: flex;
    justify-content: flex-end;
  }

  &__try-model-button,
  &__learn-more-button {
    @include primaryButtonSmall;
  }

  &__try-model-button {
    margin-right: 8px;
  }
}
