@import "../../App";

.selected-models-banner {
  bottom: 0; left: 0; right: 0;
  position: sticky;
  z-index: 2;

  &__controls {
    @include paddingGutters;
    align-items: center;
    background: $almaMater;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    transition: box-shadow .3s;
    z-index: 1;
    align-items: flex-start;

    &-col {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      > * {
        margin-left: 16px;
      }
      @include  maxWidth(925px) {
        flex-direction: column;
        align-items: flex-start;
        > * {
          margin-top: 16px;

          &:nth-child(2) {
            margin-top: 8px;
          }
        }

      }
    }
    &--open {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__toggle {
    align-items: center;
    display: flex;
    margin-top: 24px;


  }

  &__toggle-icon {
    margin-right: 16px;
    transition: transform .3s;

    &--open {
      transform: rotateX(180deg);
    }

    & path {
      transition: fill .3s;
    }
  }

  &__toggle-text {
    @include headline3;
    color: white;
    transition: color .3s;
    flex-shrink: 0;

  }

  &__toggle:hover &__toggle-icon path {
    fill: $electricGreen;
  }

  &__toggle:hover &__toggle-text {
    color: $electricGreen;
  }

  &__remove {
    @include linkSmall;
    color: white;
    transition: color .3s;

    &:hover {
      color: $electricGreen;
    }
  }

  &__run {
    margin-left: auto;

    @include maxWidth(925px) {
      margin-left: 0;
      align-self: flex-end;
    }
  }

  &__list {
    @include paddingGutters;
    background: $almaMater;
    display: flex;
    overflow-x: hidden;
    max-height: 0;
    transition: max-height .3s, padding-top .3s, padding-bottom .3s;

    @include mobileWidth-lg {
      flex-direction: column;
      align-items: center;
    }

    &--open {
      max-height: 500px;
      overflow-x: auto;
      padding-top: 32px;
      padding-bottom: 64px;
    }

    & > * {
      margin-right: 16px;

      @include mobileWidth-lg {
        margin-top: 16px;
        margin-right: 0;
        width: 100%;
      }
    }
  }
}
