$duration: 0.5s;

%baseIcon {
  margin-left: 8px;
  height: 15px;
  transition: $duration;
  width: 16px;
}

.primary-button {
  @include primaryButton;
  transition: $duration;
  &__text {
    color: $white;
    text-decoration: none;
  }

  &__icon {
    @extend %baseIcon;
  }

  &__icon path {
    fill: white;
  }
}

.secondary-button {
  @include secondaryButton;
  transition: background $duration;

  &__text {
    color: $azul;
    text-decoration: none;
    transition: color $duration;
  }

  &__icon {
    @extend %baseIcon;
  }

  &__icon path {
    transition: fill $duration;
  }
}

.primary-button:hover,
.secondary-button:hover {
  background-position: bottom center;
}

.primary-button:hover .primary-button__icon,
.secondary-button:hover .secondary-button__icon {
  transform: translateX(6px);
}

.small-button {
  @include headline6;

  &__icon {
    width: 13px;
    height: 12px;
  }
}
