.sort-button {
  @include fitToContent;
  position: relative;

  &__button {
    @include headline6;
    background: $smokeDark;
    border: none;
    border-radius: 5px;
    color: $charcoalLightest;
    padding: 16px;
  }

  &__icon {
    margin-right: 8px;
  }

  &__option-box {
    @include fitToContent;
    background: $charcoalLightest;
    color: $white;
    position: absolute;
    text-align: center;
  }

  &__radio {
    visibility: hidden;
  }

  &__option {
    @include bodySmall;
    border: none;
    background: none;
    color: $white;
    padding: 4px;
    width: 100%;
  }

  &__option:hover {
    background: $azul;
  }

  &__option:checked {
    background: green;
  }
}
