@import "../../App";

.experiment-overview {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.25);
  padding: 24px;

  &__content-wrapper {
    &-item {
      margin-top: 24px;
    }

    @include desktopWidth {
      display: flex;
      align-items: baseline;
      &-item {
        margin-left: 46px;
      }
    }
    @include tabletWidth {
      flex-direction: column;
      &-item {
        margin-left: 0;
      }
    }
  }

  &__title {
    @include headline3;
    color: $almaMater;
    margin-bottom: 16px;
  }

  &__header {
    @include labelSmall;
    color: $charcoalLightest;
    margin-bottom: 8px;
  }


  &__task-tag {
    margin-bottom: 8px;
  }

  &__task-description {
    @include bodySmall;
  }
}
