@import "../../../../../App";

.pending-output {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.25);
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin-left: 16px;
  padding: 32px;
  width: 0;
  @include maxWidth(1000px) {
    margin-left: 0;
    width: 100%;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__subtitle {
    @include body;
    border-bottom: 1px solid $smokeDarkest;
    margin-bottom: 24px;
    padding-bottom: 16px;
  }

  &__spinner-container {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    position: relative;
  }

  &__spinner {
    animation: spin 1s linear 0s infinite;
    border-bottom: solid 3px $purple;
    border-left: solid 3px transparent;
    border-radius: 50%;
    border-right: solid 3px $purple;
    border-top: solid 3px $purple;
    height: 50px;
    width: 50px;
  }
}
