@import "../../../../../App";

@mixin ratingButton($color, $background, $iconWidth, $iconHeight) {
  @include headline6;

  align-items: center;
  border: 2px solid $color;
  border-radius: 26px;
  color: $charcoalLightest;
  display: flex;
  padding: 12px 24px;

  & > span {
    cursor: default;
  }

  & > svg {
    margin-right: 8px;
    height: $iconHeight;
    width: $iconWidth;

    & > path {
      fill: $color;
    }
  }

  &--checked {
    background-color: $background;

    & > svg > path {
      fill: $charcoalLightest;
    }
  }
}

.rating {

  &__title {
    @include body;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
  }

  &__buttons {
    display: flex;
    justify-content: center;

    @include mobileWidth-lg {
      flex-direction: column;

    }
  }

  &__correct {
    @include ratingButton($mint, $mintLight, 19px, 13px);
    margin-right: 16px;

    @include mobileWidth-lg {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__incorrect {
    @include ratingButton($pink, $pinkLight, 14px, 14px);
  }
}
