@import "../../../App";

.input-preview {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.25);
  flex: 1 1;
  padding: 32px;
  width: 0;

  &__title {
    margin-bottom: 32px;
  }

  &__image {
    display: block;
    max-width: 100%;
  }

  &__back-button {
    @include secondaryButtonWithIconBefore("arrow-right.svg");
    align-self: flex-start;
    margin-top: 16px;
  }
}
