@import "../../App";

.header {
  background: white;
  display: flex;
  height: 108px;
  justify-content: space-between;
  padding: 0 128px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;

  &__beta {
    @include fitToContent;
    @include label;
    background: $secondaryGradient;
    border-radius: 0 5px;
    color: white;
    margin-top: 24px;
    margin-bottom: 0px;
    padding: 0 4px;
    text-transform: uppercase;
  }

  &__logotype {
    background: $subtleGradient;
    color: $azul;
    font-size: 35px;
    font-weight: 300;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &__modelscope {
      font-weight: 700;
    }
  }

  &__library-link-container {
    align-items: center;
    display: flex;
    gap: 6px;
    margin-top: 56px;
  }

  &__library-link {
    @include headline6;
    color: $azulDarkest;
    text-decoration: none;
  }

  &__arrow-icon {
    width: 13px;
    height: 12px;
  }
}
