@import "../../App";



@keyframes slideUp {
  0% {
    max-height:unset;
  }
  1% {
    transform: scaleY(1);
    display: block;
  }
  to {
    transform: scaleY(0);
    height: 0;
    display: none;
  }
}
@keyframes slideDown {
  0% {
    max-height:0;
    display: none;
  }
  99% {
    max-height:100vh;
    display: block;
  }
  to {
    max-height:unset
  }
}
@keyframes expandOut {
  0% {
    max-height: unset;
  }
  1% {
    max-height: 0% ;
  }
  100% {
    max-height: 100%;
  }
}
@keyframes collapseIn {
  0% {
    max-height: unset;
  }
  1% {
    max-height: 100%;
  }
  100% {
    max-height: 0%;
  }
}
.header {
  @include paddingGutters();
  background: white;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  &__placeholder {
    width: 100%;
    height: 106px;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__menu {
    align-self: flex-end;
    display: flex;
    @include  tabletWidth {
      display: none;
    }

    .header__library-link-container {
      margin-left: 24px;
    }
  }

  &__responsive-menu-icon {
    display: none;
    align-self: flex-end;
    @include tabletWidth {
      display: block;
    }
    @include tabletWidth {
      width: 25px;
      height: 10px;
      padding: 12px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: $azul;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }


      span:nth-child(1) {
        top: 0;
      }
      span:nth-child(2), span:nth-child(3) {
        top: 7px;
      }
      span:nth-child(4) {
        top: 15px;
      }
      &-open {
        span:nth-child(1) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
        span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        span:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%;
        }
      }
    }


  }

  &__splash {
    background: transparent;

    .header__responsive-menu-icon {
      span {
        background-color: $white;
      }
    }
  }

  &__beta {
    @include fitToContent;
    @include label;
    background: $secondaryGradient;
    border-radius: 0 5px;
    display: block;
    color: white;
    margin-bottom: 6px;
    padding: 0 4px;
    text-transform: uppercase;
  }

  &__logotype {
    background: $primaryGradient;
    background-size: 200% 200%;
    color: $azul;
    font-size: 35px;
    font-weight: 300;
    line-height: 1;
    text-decoration: none;
    transition: .3s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      background-position: bottom center;
      opacity: .8;
    }

    &__modelscope {
      font-weight: 700;
    }
  }

  &__splash &__logotype {
    background: unset;
    color: white;
    transition: color 0.3s;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;

    &:hover {
      color: $electricGreen;
    }
  }

  &__library-link-container {
    align-items: center;
    display: flex;

    &:hover {
      .header__library-link {
        color: $purple;
      }

      .header__arrow-icon {
        transform: translateX(6px);
        path {
          fill: $purple;
        }
      }
    }

  &-expandable {
    display: grid;
    grid-template-columns: 8fr 1fr;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid $electricGreen;
  }
    &-expand {
      border-left: 1px solid $electricGreen;
      padding-left: 26px;
      padding-right: 46px;

      &:hover {
        background-color: $azulDark;
        svg path {
          fill: $electricGreen;
        }
      }

      svg {
        width: 12px;
        transition: transform 0.5s;
        path {
          fill: $white;
        }
      }
      &-rotated {
        background-color: $azulDark;
        svg {
          transform: rotate(180deg);
        }

      }

    }

  }

  &__submenu-item {
    background: $azulDark;
    border:none;

  }

  &__library-link {
    @include headline6;
    color: $azul;
    margin-right: 6px;
    text-decoration: none;
    transition: color 0.3s;
  }
  svg path {
    fill: $azul;

    @include tabletWidth {
      fill: $white;
    }

  }

  &__splash &__library-link-container {

    .header__library-link {
      color: white;
    }

    .header__arrow-icon path {
      fill: white;
    }

    &:hover {
      .header__library-link {
        color: $electricGreen;
      }

      .header__arrow-icon path {
        fill: $electricGreen;
      }
    }
  }

  &__arrow-icon {
    width: 13px;
    height: 12px;
    transition: transform 0.3s;
  }

  &__responsive-menu {

  }
  &__shown-menu {
    @include negativeMarginAndPaddingGutters();
    @include tabletWidth {
      margin-left: 0;
    }
    background: $white;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0;
    margin-bottom: 16px;
    width: 100vw;
    .header__row {
      padding-bottom: 11px;
    }


  }


  &__responsive-menu {
    display: none;
    background-color: $azulDarkest;
    width: 100vw;
    position: static;
    bottom: 0;
    left: 0;
    @include negativeMarginGutters();
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);

    .header {
      &__library-link-container {
        padding-top: 16px;
        padding-bottom: 16px;
        svg path {
          fill: $white;
        }
      }
      &__library-link {
        color: $white;
      }
    }
    &-children {
      width: 100%;
      max-height: 0;
      overflow:hidden;
      transition: all 0.5s;
      transition-delay: 0s;

      &-open {
        //max-height: 350px;

      }
      &-closing {
        max-height: 0;

      }
    }
    &-open {
      display: block;
    }
    &-section {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $electricGreen;
      margin-right: -20px;

      &:last-child {
        border-bottom: none;
      }
      .header__responsive-menu-item {
        border-bottom: none;
      }
    }
    &-item {
      border-bottom: 1px solid $electricGreen;
      margin-right: -20px;
      padding: 16px 20px 16px 80px;

      @include mobileWidth-lg {
        padding-left: 20px;
      }
      display: flex;
      align-items: center;

      &:hover {
        .header__library-link {
          color: $electricGreen;
        }

        .header__arrow-icon {
          transform: translateX(6px);
           path {
            fill: $electricGreen;
          }
        }
      }
      &:last-child {
        border-bottom: none;
      }


      &-expandable {
        justify-content: space-between;
      }
    }
  }
  &__responsive-submenu-item {
    background-color: $azulDark;
    border-bottom: none;
  }

}
.header__splash.header__shown-menu {
  background: $richNavy;

  .header__logotype {
    color: $white;
    -webkit-text-fill-color: $white;
  }
}
