@import "src/App";

.back-to-top-button {
  @include button;
  @include buttonWithIconAfter("arrow-right-white.svg");

  background-color: $purple;
  border-color: $purple;
  color: $white;
  position: fixed;
  text-decoration: none;
  z-index: 10;
  top: 120px;
  right: 40px;

  &:hover {
    background-position: bottom center;
  }


  &:after {
    transform: translateX(0px) rotate(-90deg);
  }

  &:not(:disabled) {
    &:hover:after {
      transform: translateX(6px) rotate(-90deg);
    }
  }

  &__hidden {
    visibility: hidden;
  }
}
