@import "../../../App";

.url-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    @include body;
  }

  &__url {
    background: $white;
    margin-top: 20px;
    padding: 20px;

    &-error {
      border-color: $darkRed;

      &:focus {
        border-color: $pink;
      }
    }
  }

  &__error-text {
    @include bodySmall;
    color: $darkRed;
    margin-top: 16px;
  }
}
