.model-detail-header {
  $data-left-right-padding: 16px;
  background: white;
  padding-bottom: 32px;

  &__title-box {
    @include paddingGutters;
    background: url('../../resources/img/round-splash.jpg') no-repeat;
    background-size: cover;
    color: white;
    padding-top: 64px;
    padding-bottom: 48px;
  }

  &__date-container {
    display: flex;
    margin-bottom: 16px;
  }

  &__date-label {
    @include labelSmall;
  }

  &__date {
    @include bodySmall;
    line-height: 20px;
    margin-left: 8px;
    color: white;
  }

  &__model-name {
    @include headline1;
    margin-bottom: 16px;
    overflow-wrap: break-word;
    @include tabletWidth {
      font-size: 48px;
      line-height: 52px;
    }
    @include mobileWidth-lg {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__model-description {
    @include body;
    color: white;
    overflow-wrap: break-word;
  }

  &__data-box {
    background-color: $smokeDarkest;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    $data-gutters: $gutterSize-desktop - $data-left-right-padding * 2;
    margin-left: 100px;
    margin-right: $data-gutters;
    margin-top: 32px;

    @include minWidth($width-tablet) {
      :first-child {
        padding-left: 0;
      }
    }




    @include tabletWidth {
      grid-template-columns: 1fr;
      $data-gutters: $gutterSize-tablet - $data-left-right-padding;
      margin-left: $data-gutters;
      margin-right: $data-gutters;


    }
    @include mobileWidth-lg {
      $data-gutters: $gutterSize-mobile - $data-left-right-padding;
      margin-left: $data-gutters;
      margin-right: $data-gutters;
    }

  }

  &__task-box,
  &__framework-box,
  &__machines-box,
  &__training-set-box {
    background-color: white;
    padding: 16px $data-left-right-padding;
    @include tabletWidth {
    }

  }

  &__machine-tags-box {
    display: flex;
  }

  &__task-description {
    @include bodySmall;
    color: $charcoalLightest;
    margin-top: 8px;
  }

  &__label {
    @include labelSmall;
    color: $grayDarker;
    margin-bottom: 12px;
  }
}
