.model-detail-header {
  $data-left-right-padding: 16px;
  background: white;
  padding-bottom: 32px;

  &__title-box {
    @include paddingGutters;
    background-image:
      url('../../resources/img/round-splash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 64px;
    padding-bottom: 48px;
  }

  &__date-container {
    display: flex;
    margin-bottom: 16px;
  }

  &__date-label {
    @include labelSmall;
  }

  &__date {
    @include bodySmall;
    line-height: 20px;
    margin-left: 8px;
    color: white;
  }

  &__model-name {
    @include headline1;
    margin-bottom: 16px;
    overflow-wrap: anywhere;
  }

  &__model-description {
    @include body;
    color: white;
  }

  &__data-box {
    background: $smokeDarkest;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    $data-gutters: $gutterSize - $data-left-right-padding;
    margin-left: $data-gutters;
    margin-right: $data-gutters;
    margin-top: 32px;
  }

  &__task-box,
  &__framework-box,
  &__machines-box,
  &__training-set-box {
    background-color: white;
    padding: 2px $data-left-right-padding;
  }

  &__machine-tags-box {
    display: flex;
  }

  &__task-description {
    @include bodySmall;
    color: $charcoalLightest;
    margin-top: 8px;
  }

  &__label {
    @include labelSmall;
    color: $grayDarker;
    margin-bottom: 12px;
  }
}
