.model-detail-header {
  $data-left-right-padding: 16px;

  &__title-box {
    @include paddingGutters;
    background: $almaMater;
    color: white;
    grid-area: title;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__date-container {
    display: flex;
  }

  &__date-label {
    @include labelSmall;
  }

  &__date {
    @include bodySmall;
    line-height: 20px;
    margin-left: 8px;
    color: white;
  }

  &__model-name {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    overflow-wrap: anywhere;
  }

  &__data-box {
    background: $smokeDarkest;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    $data-gutters: $gutterSize - $data-left-right-padding;
    margin-left: $data-gutters;
    margin-right: $data-gutters;
    margin-top: 32px;
  }

  &__task-box,
  &__framework-box,
  &__machines-box,
  &__training-set-box {
    background-color: white;
    padding: 2px $data-left-right-padding;
  }

  &__label {
    @include labelSmall;
    color: $grayDarker;
  }
}
