@import "../../App";

@mixin pageNavButton {
  background: $white;
  border: 2px solid $grayDarkest;
  border-radius: 27px;
  color: $grayDarkest;
  margin: 0 4px;
  padding: 8px 16px;
}

@mixin prevNextButton {
  @include headline5;
  @include pageNavButton;

  align-items: center;
  display: flex;
  padding: 8px 24px;

  & > svg {
    height: 12px;
    width: 13px;

    & > path {
      fill: $grayDarkest;
    }
  }
}

.page-nav {
  display: flex;
  justify-content: space-between;
}

.page-nav__page-buttons {
  display: flex;
  padding: 0 4px
}

.page-nav__page-button {
  @include body;
  @include pageNavButton;

  &--selected {
    background-color: $grayDarkest;
    color: $white;
  }
}

.page-nav__placeholder {
  align-items: center;
  display: flex;
  padding: 0 4px;

  & > svg {
    height: 4px;

    & > path {
      fill: $grayDarkest;
    }
  }
}

.page-nav__prev-button {
  @include prevNextButton;

  & > svg {
    margin-right: 8px;
  }
}

.page-nav__next-button {
  @include prevNextButton;

  & > svg {
    margin-left: 8px;
    transform: rotate(180deg);
  }
}
