name: Deploy MLModelscope Staging
on:
  push:
    branches:
      - develop
    paths:
      - 'src/**'
  workflow_dispatch:


jobs:
  publish-staging:
    name: Publish Staging
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install dependencies
        run: npm ci
      - name: Build
        env:
          REACT_APP_SITE_TITLE: "STAGING - MlModelScope"
          REACT_APP_API_URL: "https://api.staging.mlmodelscope.org"
          REACT_APP_TRACE_URL: "https://trace.staging.mlmodelscope.org"
          REACT_APP_COMPANION_URL: "https://companion.staging.mlmodelscope.org"
          REACT_APP_VERSION: ${{ github.sha }}
        run: npm run build
      - name: Deploy to S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.STAGING_UPDATER_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.STAGING_UPDATER_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-1
          S3_BUCKET_NAME: staging.mlmodelscope.org
          CLOUDFRONT_ID: ${{ secrets.STAGING_CLOUDFRONT_DISTRIBUTION_ID }}
        run: |
          aws s3 sync build s3://${S3_BUCKET_NAME}
          aws cloudfront create-invalidation --distribution-id ${CLOUDFRONT_ID} --path "/*"
